.card {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.valueContainer {
  display: flex;
  align-items: center;
  gap: 5px;
}

.moreButtonContainer {
  display: flex;
  justify-content: start;
}

.badge {
  margin-top: 4px;
}


@media (max-width: 576px) {
  .container {
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
  }

  .valueContainer {
    gap: 4px;
  }
}



