.cardTitle {
  font-weight: 500;
  font-size: 16px;
}

.cardSubtitle {
  font-size: 12px;
  color: #6b7280;
}



.selectionInfo {
  margin-bottom: 8px;
}

.badgeButton {
  padding: 0;
  color: #3b82f6;
}